/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.member {
  background-image: url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.shelter {
  background-color: #E7F3F4;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  margin-top: 45px;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100%;
  background-color: #FFFFFF;
}

img {
  width: 480px;
}

.top-bar {
  color: white;
}

.top-bar img {
  height: 40px;
  width: 50px;
  border: 1px solid #000000;
}

.breed-box {
  border: 5px solid #A1184B;
  border-radius: 20px;
  width: 50%;
  background-color: #8ABCEF;
  margin-top: 65px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 20px 0 20px;
  opacity: 0.98;
}

.breed-box h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.breed-box button{
  height: 45px;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 20px 0 20px;
}

.breed-box img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.breed-box-header {
  text-align: center;
  background-color: #A1184B;
  padding-top: 5px;
  margin: 0px;
}
