/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 #app {
   height: 100vh
 }

body {
  margin: 0;
  padding: 0;
}

.member {
  background-image: url("pup.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.shelter {
  background-color: #E7F3F4;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  padding-top: 60px;
  margin-top: 40px;
  height: fill;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(172,98,119, 0.9);
  padding-bottom: 40px;
}

.profile-wrapper {
  width: 80%;
  padding-top: 65px;
  height: 100vh;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgba(172,98,119, 0.9);
}

.profile-photo img {
  border-radius: 50%;
}

.profile-content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -20px;
  padding-top: 20px;
  background-color: #99B8E3;
  height: 100%;
}

img {
  width: 480px;
}

.top-bar {
  color: white;
  margin-right: 0%;
}

.top-bar img {
  height: 40px;
  width: 50px;
  border-radius: 50px;
  margin-bottom: 1.3px;
}


.top-bar {
  background-color: #2F397B;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #2F397B;
  line-height: 2.8125rem;
  padding: 0 0.9375rem;
  height: 45px;
 }

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #2F397B;
  height: 45px;
}

.fix {
  height: 100%;
}

.chat-window {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90%;
  width: 90%;
  margin: 5%;
  background-color: rgba(172,98,119, 0.9);
  border: 2px solid #303B77;
  border-radius: 20px;
  overflow: hidden;
}

.chat-field {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.chat-field input {
  float: left;
  width: 70%;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chat-field button {
  width: 30%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10%;
}


.sender {
  background-color: #99B8E3;
  text-align: right;
  width: 20%;
  padding-right: 10px;
  margin-left: 50%;
  width: 48%;
  padding-left: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.receiver {
  background-color: #FFFFFF;
  text-align: left;
  margin-right: 50%;
  width: 50%;
  padding-left: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.messages {
  overflow-y: scroll;
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.messages-cover {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #8ABCEF;
  padding-top: 45px;
  border-radius: 20px;
  border: 2px solid #313C73;
}

.center {
  width: 20%;
  margin-left: 5%;
}

.center button{
  margin-top: 20px;
  border-radius: 20px;
}

.fa-arrow-circle-right{
  border-radius: 10px;
  color: #A11D4E;
  padding: 0 10px 0 10px;
  margin: 30px 0 30px 0;
}

.fa-arrow-circle-right:hover{
  color: #D83A75;
  cursor: pointer;
}

.shelter-dogs {
  margin-left: 5%;
  margin-right: 2%;
  overflow: hidden;
}

.shelter-dog-box {
  height: 200px;
  width: 200px;
  background-color: #FAF2F4;
  border: 2px solid #942A4D;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.shelter-dog-box li {
  color: #000000;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  text-align: center;
  list-style: none;
}

.inquiries button{
  width: 20%;
  margin-left: 40%;
  margin-left: 40%;
  border-radius: 20px;
}

.breeds img {
  width: 10%;
}
