.breed-box {
  text-align: center;
  border: 5px solid #A1184B;
  border-radius: 20px;
  width: 50%;
  background-color: #8ABCEF;
  margin-top: 65px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 20px 0 20px;
  opacity: 0.98;
}

.breed-box h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.breed-box button{
  height: 45px;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 20px 0 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.breed-box img:hover {
  opacity: 0.75;
  cursor: pointer;
}

.breed-box a {
  color: black;
  font-size: 30px;
}

.breed-box-header {
  text-align: center;
  background-color: #A1184B;
  padding-top: 5px;
  margin: 0px;
}
